{% extends 'base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/estilo.css'  %}"> {% endblock %}
{% block main %}
    <div class="container-lg tablaCabecera">

       <h2 class="nom_empr"> {{ nombre }} </h2>
       <h5> RUC: 0942128505 </h5>
       <h5> Dirección: Av. Tarqui y Brasil </h5>
       <h5> Fecha de emisión del documento: 1/08/2022 </h5>
       <h5> Interés: 10% </h5>
    </div>

    <div class="container-lg table-responsive ">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Código del Documento</th>
              <th scope="col">Fecha de Inicio del cobro</th>
              <th scope="col"> Periodo de pago (Mensual)  </th>
              <th scope="col">Cuota mensual</th>
              <th scope="col"> Fecha del último pago </th>
              <th scope="col"> Fecha del abono </th>
              <th scope="col"> Monto abonado </th>
              <th scope="col">Saldo deudor actual</th>
              <th scope="col"> Estado </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>6001</td>
              <td>12/8/2022 </td>
              <td> 3 </td>
              <td>$450</td>
              <td>14/8/2022 </td>
              <td> 17/9/2022 </td>
              <td> $200 </td>
              <td>$1000</td>
              <td>Activa</td>
              <td>
                  <a href="{% url 'pago' %}"> <button type="button" class="btn btn-danger btn-sm"> Pago <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg></button> </a>
              </td>

            </tr>
            <tr>
              <td>2</td>
              <td>4575</td>
              <td>12/8/2022</td>
              <td> 3 </td>
              <td>$650</td>
              <td>14/8/2022 </td>
              <td> 17/9/2022 </td>
              <td> $250 </td>
              <td>$2000</td>
              <td>Activa</td>
              <td><a href="{% url 'pago' %}"> <button type="button" class="btn btn-danger btn-sm"> Pago <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg></button> </a> </td>
            </tr>
            <tr>
              <td >3</td>
              <td>6002</td>
              <td>12/8/2022</td>
              <td> 4 </td>
              <td>$550</td>
              <td>14/8/2022 </td>
              <td> 17/9/2022 </td>
              <td> $175 </td>
              <td>$2000</td>
              <td>Activa</td>
              <td>
                  <a href="{% url 'pago' %}"> <button type="button" class="btn btn-danger btn-sm"> Pago <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg></button> </a>
              </td>
              <td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class=" container-lg row row-cols-2 row-cols-lg-5 g-2 g-lg-3 ">
        <div class="col cent" >
            <a href="{% url 'crear' %}"> <button type="button" class="btn btn-dark btn-lg "> Crear un nuevo registro <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
            </svg> </button> </a>
        </div>
    </div>


{% endblock %}